@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Karla:wght@700&family=Roboto:wght@400;500&display=swap');


.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    transition: all .1s ease-in;
}

*:where(
    :not(html, iframe, canvas, img, video, audio):not(svg, symbol)
  ) {
    /*all: unset;*/
    display: revert;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:where(a,button) {
    cursor: pointer;
    outline: none;
    all: unset;
    display: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
textarea {
    -webkit-user-select: auto;
    outline: none;
    border: none;

}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

::placeholder {
    color: unset;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable='true']) {
    -webkit-user-drag: element;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 4px;
}

/*/ Track /*/
::-webkit-scrollbar-track {
    background: transparent;
}

/*/ Handle /*/
::-webkit-scrollbar-thumb {
    background: #6b7c8a;
    border-radius: 10px;
}

/*/ Handle on hover /*/
::-webkit-scrollbar-thumb:hover {
    background: #6b7c8a;
}
